body {
  background-image: url(farm.jpg);
    background-repeat: no-repeat;
    background-color: #E8CA46;
}

.background{
    margin-top: 533px;
    height:200px;
    width: auto;
}

p{
    margin-left: auto;
    color: darkolivegreen
}

.cowpic{
    margin-top: -190px;
    margin-left: 10px;
}

h1{
    margin-left: auto;
    color: crimson;
    font-family: Britannic;
}