body{
    background-color: #FEFFF7;
    box-sizing:border-box;
}

.stamp{
    display:inline-block;
    width:300px;
    height:300px;
    border-style: dashed;
    margin:10px;
    border-color: #D9FFCA;
    border-width: 4px;
    box-shadow: 8px 8px 20px grey;
     background-position: top right, center;
    background-size: auto 60px, auto 300px;
    background-repeat: no-repeat;
    
}

#china{
    
    background-image: url("http://kids.nationalgeographic.com/content/kids/en_US/explore/countries/china/_jcr_content/content/textimage/image.img.gif/1396531495991.gif"),
        
      url("http://kids.nationalgeographic.com/content/kids/en_US/explore/countries/china/_jcr_content/content/textimage_0/image.img.jpg/1457635739785.jpg");
   
}

#uk{
    background-image:
        
     url(http://kids.nationalgeographic.com/content/kids/en_US/explore/countries/united-kingdom/_jcr_content/content/textimage/image.img.gif/1396531774599.gif),
        
    url("http://kids.nationalgeographic.com/content/kids/en_US/explore/countries/united-kingdom/_jcr_content/content/textimage_0/image.img.jpg/1470934883240.jpg");
    
}

#italy{
    background-image:
  
        
    url(http://kids.nationalgeographic.com/content/kids/en_US/explore/countries/italy/_jcr_content/content/textimage/image.img.gif/1396531626579.gif),
        url("http://kids.nationalgeographic.com/content/kids/en_US/explore/countries/italy/_jcr_content/content/textimage_0/image.img.jpg/1465848116011.jpg");
    
}


#southafrica{
    background-image:
        url(http://kids.nationalgeographic.com/content/kids/en_US/explore/countries/south-africa/_jcr_content/content/textimage/image.img.gif/1396531769403.gif),
        
    url("http://kids.nationalgeographic.com/content/kids/en_US/explore/countries/south-africa/_jcr_content/content/textimage_0/image.img.jpg/1465849341946.jpg");
    
}